@font-face {
    font-family: 'fira_sans_extra_condensedMdIt';
    src: url('fonts/FiraSansCondensed-MediumItalic.eot');
    src: url('fonts/FiraSansCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-MediumItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-MediumItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-MediumItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-MediumItalic.svg#fira_sans_extra_condensedMdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedRg';
    src: url('fonts/FiraSansCondensed-Regular.eot');
    src: url('fonts/FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Regular.woff') format('woff'),
    url('fonts/FiraSansCondensed-Regular.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Regular.svg#fira_sans_extra_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedSBd';
    src: url('fonts/FiraSansCondensed-SemiBold.eot');
    src: url('fonts/FiraSansCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-SemiBold.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-SemiBold.woff') format('woff'),
    url('fonts/FiraSansCondensed-SemiBold.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-SemiBold.svg#fira_sans_extra_condensedSBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condenseSBdIt';
    src: url('fonts/FiraSansCondensed-SemiBoldItalic.eot');
    src: url('fonts/FiraSansCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-SemiBoldItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-SemiBoldItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-SemiBoldItalic.svg#fira_sans_extra_condenseSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedthin';
    src: url('fonts/FiraSansCondensed-Thin.eot');
    src: url('fonts/FiraSansCondensed-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Thin.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Thin.woff') format('woff'),
    url('fonts/FiraSansCondensed-Thin.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Thin.svg#fira_sans_extra_condensedthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedThIt';
    src: url('fonts/FiraSansCondensed-ThinItalic.eot');
    src: url('fonts/FiraSansCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-ThinItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-ThinItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-ThinItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-ThinItalic.svg#fira_sans_extra_condensedThIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedBlk';
    src: url('fonts/FiraSansCondensed-Black.eot');
    src: url('fonts/FiraSansCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Black.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Black.woff') format('woff'),
    url('fonts/FiraSansCondensed-Black.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Black.svg#fira_sans_extra_condensedBlk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condenseBlkIt';
    src: url('fonts/FiraSansCondensed-BlackItalic.eot');
    src: url('fonts/FiraSansCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-BlackItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-BlackItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-BlackItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-BlackItalic.svg#fira_sans_extra_condenseBlkIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedbold';
    src: url('fonts/FiraSansCondensed-Bold.eot');
    src: url('fonts/FiraSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Bold.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Bold.woff') format('woff'),
    url('fonts/FiraSansCondensed-Bold.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Bold.svg#fira_sans_extra_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedBdIt';
    src: url('fonts/FiraSansCondensed-BoldItalic.eot');
    src: url('fonts/FiraSansCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-BoldItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-BoldItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-BoldItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-BoldItalic.svg#fira_sans_extra_condensedBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedXBd';
    src: url('fonts/FiraSansCondensed-ExtraBold.eot');
    src: url('fonts/FiraSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-ExtraBold.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-ExtraBold.woff') format('woff'),
    url('fonts/FiraSansCondensed-ExtraBold.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-ExtraBold.svg#fira_sans_extra_condensedXBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condenseXBdIt';
    src: url('fonts/FiraSansCondensed-ExtraBoldItalic.eot');
    src: url('fonts/FiraSansCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-ExtraBoldItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-ExtraBoldItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-ExtraBoldItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-ExtraBoldItalic.svg#fira_sans_extra_condenseXBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedXLt';
    src: url('fonts/FiraSansCondensed-ExtraLight.eot');
    src: url('fonts/FiraSansCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-ExtraLight.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-ExtraLight.woff') format('woff'),
    url('fonts/FiraSansCondensed-ExtraLight.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-ExtraLight.svg#fira_sans_extra_condensedXLt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condenseXLtIt';
    src: url('fonts/FiraSansCondensed-ExtraLightItalic.eot');
    src: url('fonts/FiraSansCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-ExtraLightItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-ExtraLightItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-ExtraLightItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-ExtraLightItalic.svg#fira_sans_extra_condenseXLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedIt';
    src: url('fonts/FiraSansCondensed-Italic.eot');
    src: url('fonts/FiraSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Italic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Italic.woff') format('woff'),
    url('fonts/FiraSansCondensed-Italic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Italic.svg#fira_sans_extra_condensedIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedLt';
    src: url('fonts/FiraSansCondensed-Light.eot');
    src: url('fonts/FiraSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Light.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Light.woff') format('woff'),
    url('fonts/FiraSansCondensed-Light.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Light.svg#fira_sans_extra_condensedLt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedLtIt';
    src: url('fonts/FiraSansCondensed-LightItalic.eot');
    src: url('fonts/FiraSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-LightItalic.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-LightItalic.woff') format('woff'),
    url('fonts/FiraSansCondensed-LightItalic.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-LightItalic.svg#fira_sans_extra_condensedLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_extra_condensedMd';
    src: url('fonts/FiraSansCondensed-Medium.eot');
    src: url('fonts/FiraSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSansCondensed-Medium.woff2') format('woff2'),
    url('fonts/FiraSansCondensed-Medium.woff') format('woff'),
    url('fonts/FiraSansCondensed-Medium.ttf') format('truetype'),
    url('fonts/FiraSansCondensed-Medium.svg#fira_sans_extra_condensedMd') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'fira_sans_extra_condensedRg', Arial;
    font-size: 18px;
    color: #444;
}

a {
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    color: #001938;
    text-decoration: none;
}

/*** HEADER ***/

#menu {
    width: 100%;
    display: table;
    background-color: #FFF;
    position: fixed;
    z-index: 999;
}

.menu {
    width: 1170px;
    display: table;
    margin: auto;
    position: relative;
}

.logo {
    float: left;
    padding: 10px;
}

.social-media {
    display: table;
    float: right;
    margin-right: 20px;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    text-align: right;
}

.social-media ul li {
    display: inline-block;
    margin-left: 5px;
}

.social-media ul li:first-child {
    margin: 0;
}

.social-media ul li a i {
    font-size: 30px;
}

.social-media ul li a span {
    line-height: 30px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.main-menu {
    display: table;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    float: left;
}

.main-menu ul li a {
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'fira_sans_extra_condensedMd';
    display: table;
    transition: all 300ms;
}

.main-menu ul li a:hover {
    background-color: #214064;
    color: #FFF;
}

.main-menu ul li a.active {
    background-color: #214064;
    color: #FFF;
}

#menuresp {
    display: none;
}

#menuresp button {
    margin-right: 2%;
    background-color: #87898b;
    border: 0;
    padding: 5px 8px;
    border-radius: 3px;
    color: #FFF;
    line-height: 1;
    cursor: pointer;
    float: right;
    margin-top: -40px;
    position: relative;
}

#menuresp button:hover {
    background-color: #3d8538;
}

#menuresp ul {
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
}

#menuresp ul li {
    width: 100%;
}

#menuresp ul li a {
    text-align: center;
    width: 100%;
    font-family: 'fira_sans_extra_condensedMd';
    transition: all 300ms;
    padding: 3px 20px;
    display: table;
}

#menuresp ul li a:hover {
    background-color: #214064;
    color: #FFF;
}

.carousel-item {
    height: 70vh;
    min-height: 500px;
}

.carousel-item > div.banner {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-item > div.banner > div {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.carousel-item > div.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: 'fira_sans_extra_condensedXLt';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}



.quem-somos {
    background-color: #87898b;
    width: 100%;
    display: table;
}

.quem-somos > article {
    width: 1170px;
    margin: 60px auto;
}

.quem-somos > article img {
    float: right;
    margin: 0 0 10px 20px;
    max-width: 350px;
}

.quem-somos > article h3 {
    font-size: 22px;
    color: #FFF;
    font-family: 'fira_sans_extra_condensedXLt';
}

.o-que-fazemos {
    width: 100%;
    display: table;
}

.o-que-fazemos > article {
    width: 1170px;
    margin: 60px auto;
}

.o-que-fazemos > article h4 {
    margin-bottom: 40px;
}

#servicos {
    padding: 10px 20px;
    font-family: 'fira_sans_extra_condensedSBd';
    font-size: 24px;
    text-align: center;
    color: #FFF;
    background-color: #000000;
}

#aluminio_multiplexado{
    width: 34%;
    position: relative;
    padding: 20px 20px 60px 20px;
    float: left;
    color: #FFF;
}

#aluminio_nu,
#aluminio_xlpe{
    width: 33%;
    position: relative;
    padding: 20px 20px 60px 20px;
    float: left;
    color: #FFF;
}

#aluminio_nu button,
#aluminio_multiplexado button,
#aluminio_xlpe button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    font-weight: normal;
    font-family: 'fira_sans_extra_condensedSBd';
    min-width: 260px;
}

#aluminio_nu h2,
#aluminio_multiplexado h2,
#aluminio_xlpe h2{
    font-size: 24px;
    text-align: center;
    font-family: 'fira_sans_extra_condensedMd';
    margin-bottom: 1.5rem;
}

#aluminio_nu p,
#aluminio_multiplexado p,
#aluminio_xlpe p{
    text-align: justify;
    font-family: 'fira_sans_extra_condensedLt';
}

#aluminio_nu,
#aluminio_xlpe{
    background-color: #87898b;
}

#aluminio_nu button,
#aluminio_xlpe button{
    background-color: #234266;
}

#aluminio_multiplexado {
    background-color: #3c7078;
}

#aluminio_multiplexado button {
    background-color:#234266;
}

#desc-service {
    display: table;
    width: 100%;
}

#desc-service ul {
    padding: 20px;
    list-style: none;
    display: none;
    display: none;
}

#desc-service ul li {
    color: #FFF;
    font-family: 'fira_sans_extra_condensedLt';
    font-size: 18px;
}

#desc-service ul.aluminio_nu, ul.aluminio_xlpe {
    background-color: #87898b;
}

#desc-service ul.aluminio_multiplexado {
    background-color: #3c7078;
}

/*RESPONSIVE*/
#aluminio_nu-resp,
#aluminio_multiplexado-resp,
#aluminio_xlpe-resp{
    display: none;
    width: 100%;
    position: relative;
    padding: 20px 20px 60px 20px;
    color: #FFF;
}

#aluminio_nu-resp button,
#aluminio_multiplexado-resp button,
#aluminio_xlpe-resp button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    font-weight: normal;
    font-family: 'fira_sans_extra_condensedSBd';
    min-width: 240px;
    font-size: 16px;
}

#aluminio_nu-resp h2,
#aluminio_multiplexado-resp h2,
#aluminio_xlpe-resp h2{
    font-size: 20px;
    text-align: center;
    font-family: 'fira_sans_extra_condensedMd';
    margin-bottom: 1.5rem;
}

#aluminio_nu-resp p,
#aluminio_multiplexado-resp p,
#aluminio_xlpe-resp p{
    text-align: justify;
    font-family: 'fira_sans_extra_condensedLt';
}

#aluminio_nu-resp {
    background-color: #87898b;
}

#aluminio_multiplexado-resp {
    background-color: #3c7078;
}

#aluminio_xlpe-resp {
    background-color: #87898b;
}

#aluminio_nu-resp button, #aluminio_multiplexado-resp button, #aluminio_xlpe-resp button {
    background-color: #3b6493;
}

#desc-aluminio_nu-resp,
#desc-aluminio_multiplexado-resp,
#desc-aluminio_xlpe-resp{
    display: none;
    padding: 5px 10px;
}

#desc-aluminio_nu-resp {
    background-color: #87898b;
}

#desc-aluminio_multiplexado-resp {
    background-color: #3c7078;
}

#desc-aluminio_xlpe-resp {
    background-color: #87898b;
}

#desc-aluminio_nu-resp p,
#desc-aluminio_multiplexado-resp p,
#desc-aluminio_xlpe-resp p{
    font-family: 'fira_sans_extra_condensedLt';
    font-size: 12px;
    color: #FFF;
}

#desc-aluminio_nu-resp ul,
#desc-aluminio_multiplexado-resp ul,
#desc-aluminio_xlpe-resp ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#desc-aluminio_nu-resp ul li,
#desc-aluminio_multiplexado-resp ul li,
#desc-aluminio_xlpe-resp ul li{
    font-family: 'fira_sans_extra_condensedLt';
    font-size: 14px;
    color: #FFF;
}

.nossa-equipe {
    background-color: #1f651a;
    width: 100%;
    display: table;
}

.nossa-equipe > article {
    width: 1170px;
    margin: 60px auto;
}

.nossa-equipe > article h2 {
    font-family: 'fira_sans_extra_condensedXBd';
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 30px;
}

.nossa-equipe > article ul {
    padding: 0;
    list-style: none;
}

.nossa-equipe > article ul li {
    color: #FFF;
    border-bottom: 1px solid #8cc53f;
    margin-bottom: 20px;
}

.nossa-equipe > article ul li:last-child {
    border-bottom: 0;
}

.nossa-equipe > article ul li h3 {
    font-family: 'fira_sans_extra_condensedLtIt';
}

.nossa-equipe > article ul li p {
    font-family: 'fira_sans_extra_condensedXLt';
}

#frase {
    width: 100%;
    display: table;
    background-image: url("../../images/equipe.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.frase {
    width: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.5);
}

.frase article {
    width: 1170px;
    margin: 100px auto;
}

.frase article h2 {
    color: #FFF;
    font-family: 'fira_sans_extra_condensedSBd';
    text-align: center;
}

.frase article small {
    color: #FFF;
    font-family: 'fira_sans_extra_condensedLtIt';
    display: table;
    margin: 10px auto;
}

.contato {
    width: 100%;
    display: table;
}
.certificacao {
    width: 100%;
    display: table;
}
.certificacao article {
    width: 1170px;
    display: table;
    margin: 100px auto;
}
.certificacao .logos{
    display: inline-block;
    vertical-align: middle;
    width: calc(25% - 10px);
    margin: 30px 5px;
}
.contato article {
    width: 1170px;
    display: table;
    margin: 100px auto;
}

.contato article h3 {
    font-family: 'fira_sans_extra_condensedXBd';
    text-transform: uppercase;
    text-align: center;
    color: #234266;
    font-size: 30px;
}

.contato article > div fieldset {
    max-width: 700px;
    margin: auto;
}

.contato article > div fieldset input {
    width: 100%;
    padding: 5px 12px;
    border: 0;
    font-size: 20px;
    color: #676565;
    font-family: 'fira_sans_extra_condensedRg';
    margin-bottom: 5px;
    background-color: #eee;
}

.contato article > div fieldset textarea {
    width: 100%;
    padding: 5px 12px;
    border: 0;
    font-size: 20px;
    color: #676565;
    font-family: 'fira_sans_extra_condensedRg';
    margin-bottom: 5px;
    height: 140px;
    background-color: #eee;
}

.contato article > div fieldset input.btn {
    float: right;
    font-family: 'fira_sans_extra_condensedSBd', sans-serif;
    width: auto;
    padding: 10px 30px;
    background-color: #87898b;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    border: 0;
    font-size: 20px;
    line-height: 1.4;
}

.contato article > div fieldset input.btn:hover {
    background-color: #75b025;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100vh;
    left: 0;
}

.loading i {
    color: #FFF;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
    left: 50%;
    top: 50%;
    transition: linear 100ms;
    position: absolute;
}

.enviado-overlay {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.enviado {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../../images/backenviado.jpg");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 300px;
    position: fixed;
    z-index: 9999;
    display: table;
    left: 50%;
    top: 50%;
    transition: linear 100ms;
}

div.enviado > div.fechar {
    padding: 5px;
    text-align: right;
    display: table;
    width: calc(100% - 10px);
    line-height: 1;
}

div.enviado > div.fechar i {
    cursor: pointer;
}

div.enviado h1 {
    font-family: 'fira_sans_extra_condensedSBd';
    color: #676565;
    font-size: 24px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 0 0 10px #FFF;
}

#social {
    width: 100%;
    display: table;
}

.social {
    width: 1170px;
    display: table;
    margin: auto;
    padding: 60px 0;
    border-top: 1px solid #ccc;
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social ul li {
    display: inline-block;
    margin: 0 10px;
}

.social ul li a {
    font-size: 40px;
}

@media screen and (max-width: 1200px) {
    .menu,
    .quem-somos > article,
    .o-que-fazemos > article,
    .nossa-equipe > article,
    .frase article,
    .contato article,
    .certificacao article,
    .social {
        width: 96%;
    }

    .quem-somos > article img {
        max-width: 40%;
    }
    .certificacao > article img {
        max-width: 80%;
    }
    #aluminio_nu button, #aluminio_multiplexado button, #aluminio_xlpe button {
        min-width: 150px;
        bottom:5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        height: 80px;
    }

    .social-media {
        margin: 0;
    }

    .social-media ul {
        margin-top: 5px;
    }

    .main-menu {
        display: none;
    }

    #menuresp {
        display: block;
    }

    .carousel-item {
        height: 50vh;
        min-height: 250px;
    }

    .carousel-item > div.banner h1 {
        font-size: 40px;
    }

    .quem-somos > article,
    .o-que-fazemos > article,
    .nossa-equipe > article,
    .frase article,
    .contato article,
    .certificacao article{
        margin: 40px auto;
    }

    .quem-somos > article h3 {
        font-size: 18px;
    }

    .o-que-fazemos > article h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #servicos {
        padding: 5px 20px;
        font-size: 20px;
    }

    #desc-aluminio_nu-resp img,
    #desc-aluminio_multiplexado-resp img,
    #desc-aluminio_xlpe-resp img{
        width: 98%;
    }

    #aluminio_nu,
    #aluminio_multiplexado,
    #aluminio_xlpe,
    #desc-service {
        display: none;
    }

    #aluminio_nu-resp,
    #aluminio_multiplexado-resp,
    #aluminio_xlpe-resp{
        display: block;
    }

    .nossa-equipe > article h2 {
        font-size: 24px;
    }

    .nossa-equipe > article ul li h3 {
        font-size: 22px;
    }

    .nossa-equipe > article ul li p {
        font-size: 16px;
    }

    .frase article h2 {
        font-size: 24px;
    }
    .certificacao .logos{
        width: calc(47% - 10px);
        margin: 10px 5px;
    }
    .certificacao article h3 {
        font-size: 24px;
    }

    .contato article h3 {
        font-size: 24px;
    }

    .contato article > div fieldset input,
    .contato article > div fieldset textarea {
        font-size: 16px;
        line-height: 1.2;
    }

    .contato article > div fieldset input.btn {
        font-size: 16px;
        padding: 5px 20px;
    }

    .social {
        padding: 40px 0;
    }
}

@media screen and (max-width: 600px) {
    .social-media ul li {
        font-size: 16px;
    }

    .social-media ul li a i {
        font-size: 24px;
    }

    .social-media ul li a span {
        vertical-align: bottom;
    }

    .carousel-item > div.banner h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .social-media ul li a span {
        display: none;
    }

    .carousel-item > div.banner h1 {
        font-size: 30px;
    }

    .quem-somos > article img {
        max-width: 80%;
        margin: 0 auto 15px auto;
        float: none;
        display: table;
    }

    .carousel-item {
        min-height: 200px;
    }
}